@model HB_LI4.Models.Funcionario

@{
    ViewData["Title"] = "Edit";
}

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-image: url('/css/scenarium-antique-mesa.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        font-family: 'Arial', sans-serif;
    }

    .wrapper {
        width: calc(50% - 20px);
        max-width: 420px;
        background: rgb(82, 86, 65);
        color: white;
        border-radius: 10px;
        padding: 30px;
        margin: auto;
        text-align: center;
        font-size: 18px;
        position: relative;
    }

    .form-group {
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"] {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    input[type="submit"] {
        width: calc(100% - 20px);
    }

    .link-overlay,
    p a.link-overlay {
        color: white;
    }
</style>

<body>
    <div class="wrapper">
        <h1>Edit</h1>
        <h4>Funcionário</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PalavraPasse" class="control-label"></label>
                <input asp-for="PalavraPasse" class="form-control" />
                <span asp-validation-for="PalavraPasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telemovel" class="control-label"></label>
                <input asp-for="telemovel" class="form-control" />
                <span asp-validation-for="telemovel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a class="link-overlay" asp-action="Index" asp-controller="Menu">Voltar ao menu</a>
        </div>
    </div>
</body>
